.footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 2rem 0;
  background: #eee;
  margin-top: 5rem;
  padding: 2rem 5rem;
  .links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .social-icon :hover {
    opacity: 0.5;
  }
}
.footer > div {
  flex: 1;
  margin: 0 2rem;
}
