@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,300&family=Sora:wght@600;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    transition: linear .3s
}

:root {
    --border-radius: .5rem;
    --green: #7AA00C;
    --border-bottom: solid 1px #ccc;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.7rem;
    font-family: Poppins, sans-serif, sans-serif;
}

img {
    width: 100%;
    object-fit: cover;
    height: 100%;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

.flex {
    display: flex;
}


#home .dot-active {
    background-color: #333366;
}

#home .icon {
    position: absolute;
    font-size: 3rem;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    cursor: pointer;
    background: #000;
    padding: 1rem 0;
    box-sizing: content-box;
}

#home .icon-left {
    left: 1rem;
}

#home .icon-right {
    right: 1rem;
}

#home .hide {
    display: none;
}

#home Box img {
    height: 100%;
}

.category-product:hover .category-btn {
    display: block;
}


.cart {
    padding: 0 5rem;
}

.cart-icon-close {
    color: red;
    font-size: 2rem;
    cursor: pointer;
    margin: 0 1rem;
    position: absolute;
    right: 0;
}

.payment>div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 2rem 0;
}

.payment button {
    color: #fff;
    background: rgb(41, 39, 39);
    padding: 1rem 2rem;
    width: 100%;
    cursor: pointer;
}

.content-product .content-product-pay {
    display: flex;
    flex-direction: row;
}


/*  Cart end */

@media(max-width: 913px) {
    /* header */
    .icon-menu,
    .icon-close {
        display: block;
    }
    .icon-close {
        position: absolute;
        top: 1rem;
        right: 1rem;
    }
    .header-nav {
        display: none;
        flex-direction: column;
        z-index: 1;
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        background: #eee;
    }
    .header-nav#toggle {
        display: block;
    }
    .header-nav li {
        margin: 1.5rem 0;
        text-align: center;
    }
    /* detail product start */
    .product-detail .product {
        flex-direction: column;
    }
    .product-detail .product .product-footer {
        width: 39rem;
    }
    /*detail product end */
    /* Home start*/
    #home-box {
        height: 70vh;
    }
    /* Home end*/
    /* footer start */
    .footer {
        padding: 2rem 2rem;
    }
    /* footer end */
    /* cart start */
    .content-product .content-product-pay {
        display: flex;
        flex-direction: column;
    }
    .content-product .content-product-pay .payment {
        margin: 0;
    }
    /* cart end */
}

@media (max-width: 640px) {
    .flex-column {
        flex-direction: column !important;
    }
    header {
        padding: .5rem 3rem;
    }
    #home-box {
        height: 50vh;
    }
    /* footer start */
    .footer {
        padding: 1rem;
    }
    .footer>div {
        margin: 0;
    }
    .list-product.product-detail {
        padding: 0 1rem;
    }
    /* footer end */
    /* cart start */
    .cart {
        padding: 0 1rem;
    }
    /* cart end */
}